$color1: #556270;
$color2: #4ECDC4;
$color3: #C7F464;
$color4: #FF6B6B;
$color5: #C44D58;

$color_h1:$color2;
$color_h3:$color4;
$color_p:black;

$link:$color2;
$linkhover:$color4;

$btn1bg:$color2;
$btn1text:white;
$btn1hoverbg:$color4;
$btn1hovertext:black;

$btn2bg:$color2;
$btn2text:white;
$btn2hoverbg:$color4;
$btn2hovertext:black;