@import url("../fonts/fontfiles.css");


$font_default: 'VerbLight', Helvetica, sans-serif;
$font_h1: 'VerbMedium', Helvetica, sans-serif;
$font_btn: 'VerbLight', Helvetica, sans-serif;

@mixin font_btn{
font-family:$font_btn;
text-transform:uppercase;
font-size:16px;
}