@charset "UTF-8";
/* All over it. (Global) */
@import '_font';
@import '_color';
@import '_mixins';


html,button,input,select,textarea {
	color: #000;
	font-family: $font_default;

}


body {
	width: 100%;
	margin: 0 0 20px;
	background: url(../img/swirl.png) repeat;
	
}
a {
	color:$link;
	&:hover{
		color:$linkhover;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

}
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* Up top! (Header) */
header {
	color: #000;
}

header h1 {
	background: #FFF;
	float: left;
	font-size: 36px;
	width: auto;
	margin: 0 20px 0 30px;
	padding: 50px;
	font-family: $font_h1;
	@include module_shadow;
}

header h2 {
	background: #444 url(../img/444noise.png);
	color: #FFF;
	margin: 0;
	padding: 10px;
}

header h4,header p {
	margin: 5px 0 0;
}

/* Your Body is a Wonderland (Body) */
#wrapper {
	clear: both;
	margin: 20px 0;
	padding: 0 40px;
}

#elements,#words {
	width: 47%;
}

/* The colors, Duke, the colors! (#Colors) */
#colors {
	clear: both;
}

.square,.bigsquare {
	@include module_shadow;
	float: left;
	height: 60px;
	width: 60px;
	margin: 0 15px 10px 0;
	padding: 1px;
}

#square-one,#square-two,#square-three,#square-four,#square-five {
	height: 100%;
	width: 100%;
}

#square-one {
	background: $color1;
}

#square-two {
	background: $color2;
}

#square-three {
	background: $color3;
}

#square-four {
	background: $color4;
}

#square-five {
	background: $color5;
}

/* Stroke the Furry Wall (#Textures) */
#textures {
	clear: both;
	padding-top: 20px;
}

.bigsquare {
	height: 120px;
	width: 120px;
}

#texture-one,#texture-two,#texture-three {
	height: 100%;
	width: 100%;
}

#texture-one {
	background-image: url(../img/debut_light.png);
}

#texture-two {
	background-image: url(../img/grey.png);
}

#texture-three {
	background-image: url(../img/grid.png);
}

/* The Easy Button(s) (#Buttons) */
#buttons {
	clear: both;
	padding-top: 20px;

	a.btn {
		@include font_btn;
		float: left;
		text-decoration: none;
		margin: 0 15px 10px 0;
		padding: 12px 20px;

		border:1px solid white;

		border-radius:3px;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;

		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);


		transition: all 1s;
		-webkit-transition: all 0.3s;

		&.button1 {
			background-color: $btn1bg;
			color: $btn1text;
			
			&:hover{
				background-color: $btn1hoverbg;
				color: $btn1hovertext;
			}
		}
		&.button2 {
			background-color: $btn2bg;
			color: $btn2text;
			
			&:hover{
				background-color: $btn2hoverbg;
				color: $btn2hovertext;
			}
		}
	}
}


/* Gosling-Approved Typography (#Typography) */
#typography h1 {
	font-size: 32px;
	font-weight: 700;
	line-height: 34px;
	margin: 0;
	color:$color_h1;
}

#typography h3 {
	font-size: 24px;
	line-height: 26px;
	margin: 20px 0 0;
	color:$color_h3;
}

#typography p {
	font-size: 14px;
	line-height: 22px;
	color:$color_p;
}

.font {
	color: gray;
	font-size: 12px;
	margin: 0;
}

/* Redundant adjectives are redundant. (#Adjectives) */
#adjectives span {
	font-size: 36px;
	margin-right: 30px;
}

/* Down low! (Footer) */
footer {
	clear: both;
	color: gray;
	font-size: 14px;
	line-height: 22px;
	padding: 40px;
}

footer p {
	margin: 0;
}

footer .alignleft p {
	font-style: italic;
}

footer .alignright p {
	font-weight: 700;
}

/* Make it look good on your new-fangled Palm Pilot! (Media Queries) */
 
@media (max-width: 600px) {
	#elements, #words {
		width: 100%;
	}
	
	#colors, #textures, #buttons {
		padding-top: 10px;
	}
	
	#typography {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	header h1, header h2, header h4, header p {
		text-align: center;
	}
	
	#logo h1 {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 10px;
	}
}

/* If you're going to print it, you should probably use the PSD: http://styletil.es/downloads/Style_Tile_Template.psd.zip
...but sometimes we have preemptive printers for bosses. :) So, let's make it one page, hide the footer, and ask Webkit to print background images. */

@media print {
	* {
		-webkit-print-color-adjust: exact;
		overflow: hidden;
		box-shadow: none !important;
	}
	
	#logo {
		overflow: visible;
	}	
	
	.square,.bigsquare {
		height: 40px;
		width: 40px;
	}
	
	#colors, #textures, #buttons {
		padding-top: 5px;
	}
	
	footer {
		display: none;
	}
}